.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #adc8e4;
}

.App-header{
  background-color: #27208b;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.chat-box{
  width: 80%;
  height: 60%;
  border: 1px solid #383333;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.message{
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(235, 185, 50);
  display: flex;
  justify-content: space-between;
}

.message-text{
  flex: 1;
}

.message-timestamp{
  font-size: 0.8em;
  color: #888;
  margin-left: 10px;
}

.input-area{
  display: flex;
  width: 80%;
}

input{
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button{
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover{
  background-color: #0056b3;
}

.footer{
  position:absolute;
  
}